<div class="container-xl px-4">
    <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-4">
            <div class="card my-5">
                <div class="card-header text-center">Change Password<i data-feather="lock"></i></div>
                <div class="card-body p-5">
                    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                        <!-- Form Group (new password)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputNewPassword">Password</label>
                            <input class="form-control" id="inputNewPassword" type="password"
                                placeholder="Enter password" formControlName="inputNewPassword"
                                autocomplete="new-password"
                                [ngClass]="{'is-invalid': resetPasswordForm.get('inputNewPassword')?.invalid && (resetPasswordForm.get('inputNewPassword')?.dirty || resetPasswordForm.get('inputNewPassword')?.touched)}" />
                            <div *ngIf="resetPasswordForm.get('inputNewPassword')?.invalid && (resetPasswordForm.get('inputNewPassword')?.dirty || resetPasswordForm.get('inputNewPassword')?.touched)"
                                class="text-danger">
                                <span *ngIf="resetPasswordForm.get('inputNewPassword')?.errors?.['required']">
                                    Password is required.
                                </span>
                                <span *ngIf="resetPasswordForm.get('inputNewPassword')?.errors?.['mustMatch']">
                                    Passwords must match
                                </span>
                                <span *ngIf="resetPasswordForm.get('inputNewPassword')?.errors?.['passwordStrength']">
                                </span>
                            </div>
                            <!-- password validation rules -->
                            <div *ngIf="showValidationRules" id="validation-rules" class="mt-3">
                                <!-- Regla: Longitud mínima -->
                                <div [ngClass]="{ 'text-success': minLengthValid, 'text-danger': !minLengthValid }">
                                    <ng-container *ngIf="minLengthValid; else notValidIcon">
                                        <!-- https://feathericons.dev/?search=check-square&iconset=feather -->
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="15"
                                            height="15" class="main-grid-item-icon" fill="none" stroke="currentColor"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                            <polyline points="9 11 12 14 22 4" />
                                            <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11" />
                                        </svg>
                                    </ng-container>
                                    <ng-template #notValidIcon>
                                        <!-- https://feathericons.dev/?search=xsquare&iconset=feather -->
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16"
                                            height="16" class="main-grid-item-icon" fill="none" stroke="currentColor"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                            <rect height="18" rx="2" ry="2" width="18" x="3" y="3" />
                                            <line x1="9" x2="15" y1="9" y2="15" />
                                            <line x1="15" x2="9" y1="9" y2="15" />
                                        </svg>
                                    </ng-template>
                                    Must be at least 8 characters long
                                </div>

                                <!-- Regla: Contiene al menos un dígito -->
                                <div
                                    [ngClass]="{ 'text-success': requiresDigitValid, 'text-danger': !requiresDigitValid }">
                                    <ng-container *ngIf="requiresDigitValid; else notValidDigit">
                                        <!-- https://feathericons.dev/?search=check-square&iconset=feather -->
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="15"
                                            height="15" class="main-grid-item-icon" fill="none" stroke="currentColor"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                            <polyline points="9 11 12 14 22 4" />
                                            <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11" />
                                        </svg>
                                    </ng-container>
                                    <ng-template #notValidDigit>
                                        <!-- https://feathericons.dev/?search=xsquare&iconset=feather -->
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16"
                                            height="16" class="main-grid-item-icon" fill="none" stroke="currentColor"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                            <rect height="18" rx="2" ry="2" width="18" x="3" y="3" />
                                            <line x1="9" x2="15" y1="9" y2="15" />
                                            <line x1="15" x2="9" y1="9" y2="15" />
                                        </svg>
                                    </ng-template>
                                    Must contain at least 1 digit
                                </div>

                                <!-- Regla: Contiene al menos una mayúscula -->
                                <div
                                    [ngClass]="{ 'text-success': requiresUppercaseValid, 'text-danger': !requiresUppercaseValid }">
                                    <ng-container *ngIf="requiresUppercaseValid; else notValidUppercase">
                                        <!-- https://feathericons.dev/?search=check-square&iconset=feather -->
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="15"
                                            height="15" class="main-grid-item-icon" fill="none" stroke="currentColor"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                            <polyline points="9 11 12 14 22 4" />
                                            <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11" />
                                        </svg>
                                    </ng-container>
                                    <ng-template #notValidUppercase>
                                        <!-- https://feathericons.dev/?search=xsquare&iconset=feather -->
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16"
                                            height="16" class="main-grid-item-icon" fill="none" stroke="currentColor"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                            <rect height="18" rx="2" ry="2" width="18" x="3" y="3" />
                                            <line x1="9" x2="15" y1="9" y2="15" />
                                            <line x1="15" x2="9" y1="9" y2="15" />
                                        </svg>
                                    </ng-template>
                                    Must contain at least 1 uppercase character
                                </div>

                                <!-- Regla: Contiene al menos una minúscula -->
                                <div
                                    [ngClass]="{ 'text-success': requiresLowercaseValid, 'text-danger': !requiresLowercaseValid }">
                                    <ng-container *ngIf="requiresLowercaseValid; else notValidLowercase">
                                        <!-- https://feathericons.dev/?search=check-square&iconset=feather -->
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="15"
                                            height="15" class="main-grid-item-icon" fill="none" stroke="currentColor"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                            <polyline points="9 11 12 14 22 4" />
                                            <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11" />
                                        </svg>
                                    </ng-container>
                                    <ng-template #notValidLowercase>
                                        <!-- https://feathericons.dev/?search=xsquare&iconset=feather -->
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16"
                                            height="16" class="main-grid-item-icon" fill="none" stroke="currentColor"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                            <rect height="18" rx="2" ry="2" width="18" x="3" y="3" />
                                            <line x1="9" x2="15" y1="9" y2="15" />
                                            <line x1="15" x2="9" y1="9" y2="15" />
                                        </svg>
                                    </ng-template>
                                    Must contain at least 1 lowercase character
                                </div>

                                <!-- Regla: Contiene al menos un carácter especial -->
                                <div
                                    [ngClass]="{ 'text-success': requiresSpecialCharsValid, 'text-danger': !requiresSpecialCharsValid }">
                                    <ng-container *ngIf="requiresSpecialCharsValid; else notValidSpecialChars">
                                        <!-- https://feathericons.dev/?search=check-square&iconset=feather -->
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="15"
                                            height="15" class="main-grid-item-icon" fill="none" stroke="currentColor"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                            <polyline points="9 11 12 14 22 4" />
                                            <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11" />
                                        </svg>
                                    </ng-container>
                                    <ng-template #notValidSpecialChars>
                                        <!-- https://feathericons.dev/?search=xsquare&iconset=feather -->
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16"
                                            height="16" class="main-grid-item-icon" fill="none" stroke="currentColor"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                            <rect height="18" rx="2" ry="2" width="18" x="3" y="3" />
                                            <line x1="9" x2="15" y1="9" y2="15" />
                                            <line x1="15" x2="9" y1="9" y2="15" />
                                        </svg>
                                    </ng-template>
                                    Must contain at least 1 special character
                                </div>
                            </div>
                        </div>

                        <!-- Form Group (confirm password)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputConfirmPassword">Confirm
                                password</label>
                            <input class="form-control" id="inputConfirmPassword" type="password"
                                autocomplete="new-password" placeholder="Confirm password"
                                formControlName="inputConfirmPassword"
                                [ngClass]="{'is-invalid': resetPasswordForm.get('inputConfirmPassword')?.invalid && (resetPasswordForm.get('inputConfirmPassword')?.dirty || resetPasswordForm.get('inputConfirmPassword')?.touched)}" />
                            <div *ngIf="resetPasswordForm.get('inputConfirmPassword')?.invalid && (resetPasswordForm.get('inputConfirmPassword')?.dirty || resetPasswordForm.get('inputConfirmPassword')?.touched)"
                                class="text-danger">
                                <span *ngIf="resetPasswordForm.get('inputConfirmPassword')?.errors?.['required']">
                                    Confirm Password is required.
                                </span>
                                <span *ngIf="resetPasswordForm.get('inputConfirmPassword')?.errors?.['minlength']">
                                    Confirm Password must be at least 3 character long.
                                </span>
                                <span *ngIf="resetPasswordForm.get('inputConfirmPassword')?.errors?.['maxlength']">
                                    Confirm Password must be no more than 25 characters long.
                                </span>
                                <span *ngIf="resetPasswordForm.get('inputConfirmPassword')?.errors?.['mustMatch']">
                                    Passwords must match.
                                </span>
                            </div>
                        </div>
                        <a *ngIf="!load_btn" class="btn btn-primary" type="a" (click)="onSubmit()">reset
                            Password</a>
                        <a *ngIf="load_btn" class="btn btn-primary" type="a" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Creating...
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>