<!-- Wizard tab pane item 2-->
<div class="py-5 py-xl-10">
    <div class="row justify-content-center">
        <div class="col-xxl-6 col-xl-8">           
            <h3 class="text-primary">Step 2</h3>
            <h5 class="card-title mb-4">Enter your billing details</h5>
            <form>
                <div class="row gx-3">
                    <div class="mb-3 col-md-6">
                        <label class="small mb-1" for="inputBillingName">Name on card</label>
                        <input class="form-control" id="inputBillingName" type="text"
                            placeholder="Enter the name as it appears on your card" value="Valerie Luna" />
                    </div>
                    <div class="mb-3 col-md-6">
                        <label class="small mb-1" for="inputBillingCCNumber">Card number</label>
                        <input class="form-control" id="inputBillingCCNumber" type="text"
                            placeholder="Enter your credit card number" value="4444 3333 2222 1111" />
                    </div>
                </div>
                <div class="row gx-3">
                    <div class="col-md-4 mb-4 mb-md-0">
                        <label class="small mb-1" for="inputOrgName">Card expiry month</label>
                        <input class="form-control" id="inputOrgName" type="text" placeholder="Enter expiry month"
                            value="06" />
                    </div>
                    <div class="col-md-4 mb-4 mb-md-0">
                        <label class="small mb-1" for="inputLocation">Card expiry year</label>
                        <input class="form-control" id="inputLocation" type="text" placeholder="Enter expiry year"
                            value="2024" />
                    </div>
                    <div class="col-md-4 mb-0">
                        <label class="small mb-1" for="inputLocation">CVV Number</label>
                        <input class="form-control" id="inputLocation" type="password" placeholder="Enter CVV number"
                            value="111" />
                    </div>
                </div>
                <hr class="my-4" />
                <div class="d-flex justify-content-between">
                    <button class="btn btn-light" type="button" (click)="goToPreviousStep()">Previous</button>
                    <button class="btn btn-primary" type="button" (click)="goToNextStep()">Next</button>
                </div>
            </form>
        </div>
    </div>
</div>