<div class="container-xl px-4">
    <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11">
            <!-- Social forgot password form-->
            <div class="card my-5">
                <div class="card-body p-5 text-center">
                    <div class="h3 fw-light mb-0">Password Recovery</div>
                </div>
                <hr class="my-0" />
                <div class="card-body p-5">
                    <div class="text-center small text-muted mb-4">Enter your email address below and we
                        will send you a link to reset your password.</div>
                    <!-- Forgot password form-->
                    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="text-gray-600 small" for="inputForgotEmailAddress">Email
                                address</label>
                            <input class="form-control form-control-solid" id="inputForgotEmailAddress" type="email"
                                autocomplete="email" placeholder="Enter your email address" aria-label="Email Address"
                                aria-describedby="emailExample" formControlName="inputForgotEmailAddress"
                                [ngClass]="{'is-invalid': forgotPasswordForm.get('inputForgotEmailAddress')?.invalid && (forgotPasswordForm.get('inputForgotEmailAddress')?.dirty || forgotPasswordForm.get('inputForgotEmailAddress')?.touched)}" />
                            <div *ngIf="forgotPasswordForm.get('inputForgotEmailAddress')?.invalid && (forgotPasswordForm.get('inputForgotEmailAddress')?.dirty || forgotPasswordForm.get('inputForgotEmailAddress')?.touched)"
                                class="text-danger">
                                <span *ngIf="forgotPasswordForm.get('inputForgotEmailAddress')?.errors?.['required']">
                                    Email address is required.
                                </span>
                                <span *ngIf="forgotPasswordForm.get('inputForgotEmailAddress')?.errors?.['email']">
                                    Must be a valid email address.
                                </span>
                            </div>
                        </div>
                        <!-- Form Group (reset password button)    -->
                        <button class="btn btn-primary" type="submit" [disabled]="!forgotPasswordForm.valid">Reset
                            Password</button>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <div class="small">
                        Back to
                        <a [routerLink]="['/auth/login']">login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>